
*.xcscheme
*.xcuserstate
*.xcuserstate
*.xcscheme
XCTestDemo/XCTestDemo.xcodeproj/xcshareddata/xcbaselines/C29D33A91D92288500C78256.xcbaseline/D840FB43-B0FA-44B2-A268-462CB78961CD.plist
XCTestDemo/XCTestDemo.xcodeproj/xcshareddata/xcbaselines/C29D33A91D92288500C78256.xcbaseline/Info.plist
*.xcuserstate
*.xcscheme
